* {
    background-color: gray;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin: 1% 3% 3% 3%;
    }

.main-img {
    display: block;
    width: 50%;
  height: auto;
  margin: 0 auto 0 auto;
}

h1, h2 {
    color: #e99414;
    text-align: center;
    margin: 0 0 5px 0;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 23px;
}

.main-text {
    color: #f4a460;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', sans-serif;
    text-align: center;
    margin: 0 0 20px 0;
}

.container {
    width: 1140;
    margin:0 auto 0 auto;
}